body {
  margin:0;
  background-color: silver;
}

.Board{
  margin: 0 auto;
  width:50%;
  text-align: center;
}

.Grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 110px 110px 110px 110px 110px;
}

.restart {
  width: 8em;
  height: 2em;
  font-size: 1.25em;
  color: white;
  background-color:royalblue;
  border-style: solid;
  border-color: grey;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.card {
  width: 100px;
  height: 100px;
  font-size: 2.5em;
  border-style: solid;
}
.card.front{
  font-weight: bold;
  text-align: center;
  background-color: royalblue;
  color: black;
  position: relative;
  border-color: gray;
}
.card.back {
  background-color: gray;
  border-color: darkgray;
  cursor: pointer;
}
span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}